body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: burlywood;
    color: brown;
}

h1{
    text-align: center;
    background-color: white ;
    border-radius: 12.5px    ;
}

/* .showcase_pic{
    width: 700px;
    height: 450px;
    object-fit: cover;
    display: block;
    margin-inline: auto;
} */

.center_pic{
    text-align: center;
}

.center_pic .showcase{
    width: 700px;
    height: 450px;
    object-fit: cover;
    border-radius: 50%;
}

.container{
    width: 750px;
    margin-inline: auto;
}
