@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: burlywood;
    color: brown;
}

h1{
    text-align: center;
    background-color: white ;
    border-radius: 12.5px    ;
}

#homeHead{
    font-weight: normal;
    background-color: transparent;
 /* Default styles removed */
    color: rgb(99, 8, 8);
    font-family: 'Yeseva One', cursive;
    font-size: 64px;
}

#homeMenu{
    text-align: center;
    margin-top: 250px;
    margin-left: 0px;
    padding-left: 0px;
}

#homeMenu li{
    display: inline-block;
    color: white;

}

#homeMenu a{
    text-decoration: none;
    color: white;
    padding: 30px;
    border: 2px dotted white;
    border-radius: 40px;
    font-size: 3rem;
    text-transform: uppercase;
}

#homeMenu a:hover{
    color: brown;
    border-color: rgb(99, 8, 8);
}

.center_pic{
    text-align: center;
}

.center_pic .showcase{
    width: 700px;
    height: 450px;
    object-fit: cover;
    border-radius: 50%;
}

.container{
    width: 750px;
    margin-inline: auto;
}
